/* Self-hosted fonts */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/merriweather-v33-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/merriweather-v33-latin-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/merriweather-v33-latin-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v31-latin-700.woff2') format('woff2');
}

/* Base16 Paraiso color scheme */
/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Base styles */
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f7ec;
  color: #41323f;
  line-height: 1.5;
}

body a {
  text-decoration: none;
}

@media screen and (min-width: 58em) {
  body {
    font-size: 22px;
  }
}

p {
  margin: 0 0 1em;
}

.content {
  font-family: 'Merriweather', serif;
  margin-bottom: 1.333em;
}

.content h2, .content h3, .content h4, .content h5 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.75em;
}

.content p {
  line-height: 1.7;
}

.content ul {
  margin: 1em 1.333em;
}

.content-main {
  padding: 1.333em;
}

.content-main a {
  color: #48b685;
}

.content-main img {
  max-width: 100%;
}

.content-main h2 {
  font-size: 1.333em;
}

/* Posts and archive */
.posts-archive h2 {
  color: #4f424c;
}

.posts-archive h3 {
  color: #776e71;
  margin-top: 1em;
}

.posts-archive nav {
  margin-top: 1em;
}

.paginated, .post {
  margin-bottom: 1.777em;
}

.paginated .meta, .post .meta {
  margin-top: 0.75em;
}

.paginated header, .post header {
  margin-bottom: 1.333em;
}

.paginated header p, .post header p {
  color: #776e71;
  font-size: 0.75em;
}

.paginated header .entry-title, .post header .entry-title {
  color: #4f424c;
  font-size: 2.369em;
  line-height: 1em;
}

.paginated .vcard a, .paginated time a, .post .vcard a, .post time a {
  color: #776e71;
}

.paginated .nickname, .post .nickname {
  display: none;
}

/* Tags */
.tag-listing a {
  margin-right: 0.422em;
  padding: 0.563em;
  line-height: 4.209em;
  border: 2px dotted #48b685;
}

a.tag-color {
  color: #f5f7ec;
  padding: 0.422em 0.563em;
  margin-right: 0.422em;
  margin-left: 0;
  font-size: 1em;
}

.tag-color-1 {
  background-color: #ef6155;
}

.tag-color-2 {
  background-color: #fec418;
}

.tag-color-3 {
  background-color: #5bc4bf;
}

.tag-color-4 {
  background-color: #815ba4;
}

.tag-color-5 {
  background-color: #f99b15;
}

.tag-color-6 {
  background-color: #48b685;
}

.tag-color-7 {
  background-color: #06b6ef;
}

.tag-color-8 {
  background-color: #e96ba8;
}

/* Code */
code {
  font-size: 0.75em;
  margin: 1em 0;
}

:not(pre) > code {
  color: #815ba4;
  font-size: 1em;
}

/* Sidebar */
.sidebar {
  color: #ffffff;
  background-color: #e96ba8;
  text-align: center;
  padding: 0.563em 0;
  font-size: 1em;
}

.sidebar a {
  color: #f5f7ec;
  text-decoration: none;
}

.sidebar p {
  font-size: 85%;
}

.sidebar h1 {
  font-size: 2.369em;
}

/* Navigation */
.inline-list li {
  display: inline-block;
}

.menu {
  margin: 1em;
  font-size: 0.75em;
}

.menu li {
  margin-right: 0.5em;
}

.menu a {
  border-color: #ffffff;
}

.button-link {
  border: 2px solid;
  border-radius: 2px;
  padding: 0.422em 0.563em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer */
.footer-links {
  text-align: center;
  margin: 1.333em;
}

.footer-links a {
  color: #a39e9b;
  border-color: #b9b6b0;
}

.footer-links .powered-by {
  margin-top: 1em;
  color: #a39e9b;
}

.footer-links .powered-by a {
  color: #8d8687;
}

/* Previous/Next navigation */
.previous-next {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
}

.previous-next .title {
  color: #776e71;
}

.arrow {
  width: 0;
  height: 0;
  border: 0 solid transparent;
  display: inline-block;
  margin: 0 7px -2px;
}

.arrow-east {
  border-width: 8px 0 8px 12px;
  border-left-color: #48b685;
}

.arrow-west {
  border-width: 8px 12px 8px 0;
  border-right-color: #48b685;
}

/* Desktop layout */
@media screen and (min-width: 58em) {
  .sidebar {
    width: 25%;
    background-attachment: scroll;
    background-position: 0 0;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: right;
  }

  .sidebar header {
    margin-top: 80%;
    padding: 0 1em;
  }

  .content-main {
    padding: 2.369em;
  }

  .content-main,
  footer {
    margin-left: 25%;
    max-width: 46em;
  }

  .previous-next {
    margin-bottom: 1.333em;
  }

  .previous-next.archive {
    text-align: center;
  }
}

/* Utility classes */
.centered-image {
  display: block;
  margin: 15px auto;
}

.small {
  font-size: 60%;
  font-family: 'Montserrat', sans-serif;
}

blockquote {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}
