{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="posts-archive">
  {{ range .Paginator.Pages }}
    <article class="post paginated">
      <header>
        <h2 class="entry-title">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <p>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date.Format "January 2, 2006" }}
          </time>
          {{ if not (eq .Params.comments false) }}
            {{ $datePath := .Date.Format "2006/01/02" }}
            {{ $slug := replaceRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}-" "" .File.BaseFileName }}
            | <a href="{{ .Permalink }}#disqus_thread" data-disqus-identifier="http://naxoc.net/{{ $datePath }}/{{ $slug }}//">Comments</a>
          {{ end }}
        </p>

        {{ with .Params.tags }}
          <p class="tags">
            {{ range $index, $tag := . }}
              {{ $tagIndex := add (mod $index 8) 1 }}
              <a class="tag-color tag-color-{{ $tagIndex }}" href="/tags/{{ $tag | urlize }}" rel="tag">{{ $tag }}</a>
            {{ end }}
          </p>
        {{ end }}
      </header>
      <div class="content">
        {{ .Content }}
      </div>
    </article>
  {{ end }}

  {{ if or .Paginator.HasPrev .Paginator.HasNext }}
    <nav class="previous-next archive">
      {{ if .Paginator.HasPrev }}
        <div class="previous">
          <a href="{{ .Paginator.Prev.URL }}">
            <span class="arrow arrow-west"></span>
            <span class="title">Newer</span>
          </a>
        </div>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <div class="next">
          <a href="{{ .Paginator.Next.URL }}">
            <span class="title">Older</span>
            <span class="arrow arrow-east"></span>
          </a>
        </div>
      {{ end }}
    </nav>
  {{ end }}
</div>
{{ end }}
